---
Title: Cake.Gradle
NoSidebar: true
NoContainer: true
NoGutter: true
---

@{
    string link = Context.GetLink("/api/Cake.Gradle/");
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Cake.Gradle</h1>
        <p>
            Aliases to assist with running Gradle builds from Cake build scripts.<br/>
        </p>
        <a class="btn btn-primary btn-lg" href="@link" role="button">Learn more</a>
    </div>
</div>

<div class="container text-center">
    <div class="row slideanim">
        <div class="col-sm-12">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h3 class="no-anchor">Open-Source</h3>
            <p>
                Cake.Gradle is free to use, improve, contribute and distribute.
                Source code is available on <a href="https://github.com/cake-contrib/Cake.Gradle">GitHub</a> under MIT license.
            </p>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>
        <div class="col-sm-12">
            <span class="glyphicon glyphicon-road logo-small"></span>
            <h3 class="no-anchor">Usage</h3>
        </div>
        <div class="col-sm-10 col-sm-offset-1 text-left">
            <pre><code>
#addin nuget:?package=Cake.Gradle

// Run 'gradle --version'
Task("Gradle-Version")
    .Does(() =>
{
    Gradle.WithArguments("--version").Run();
});

// Run 'gradle hello' in a specific folder
// Note: if you have a gradle wrapper setup in the specified path, this one will be used
Task("Gradle-Hello")
    .Does(() =>
{
    Gradle.FromPath("./example").WithTask("hello").Run();
});


// Run 'gradle hello' in a specific folder with default log level
// Note: if no log level is set, it is derived from the Cake verbosity (which is set to 'verbose' in build.ps1)
Task("Gradle-Hello-WithDefaultLogLevel")
    .Does(() =>
{
    Gradle.FromPath("./example").WithTask("hello").WithLogLevel(GradleLogLevel.Default).Run(); 
});

// Run 'gradle --offline --build-file build.gradle hello' in a specific folder
Task("Gradle-Hello-WithArguments")
    .Does(() =>
{
    Gradle.FromPath("./example").WithTask("hello").WithArguments("--offline --build-file build.gradle").Run();
});
            </code></pre>
        </div>
    </div>
</div>