# LitJson is copied from https://github.com/LitJSON/litjson
# so we do not want to see ANY errors/warnings here

[*]
# global analyze off
dotnet_analyzer_diagnostic.severity = none

# specific Rider/R# rules
resharper_inconsistent_naming_highlighting = none
resharper_possible_interface_member_ambiguity_highlighting = none
resharper_use_object_or_collection_initializer_highlighting = none
resharper_arrange_this_qualifier_highlighting = none
resharper_assign_null_to_not_null_attribute_highlighting = none
resharper_built_in_type_reference_style_highlighting = none
resharper_built_in_type_reference_style_for_member_access_highlighting = none
resharper_class_never_instantiated_global_highlighting = none
resharper_convert_to_auto_property_highlighting = none
resharper_convert_to_lambda_expression_highlighting = none
resharper_convert_to_local_function_highlighting = none
resharper_field_can_be_made_read_only_local_highlighting = none
resharper_inline_out_variable_declaration_highlighting = none
resharper_introduce_optional_parameters_local_highlighting = none
resharper_join_declaration_and_initializer_highlighting = none
resharper_member_can_be_private_global_highlighting = none
resharper_merge_cast_with_type_check_highlighting = none
resharper_parameter_hides_member_highlighting = none
resharper_inconsistently_synchronized_field_highlighting = none
resharper_join_null_check_with_usage_highlighting = none
resharper_local_variable_hides_member_highlighting = none
resharper_possible_invalid_cast_exception_highlighting = none
resharper_possible_null_reference_exception_highlighting = none
resharper_redundant_assignment_highlighting = none
resharper_redundant_cast_highlighting = none
resharper_redundant_explicit_array_creation_highlighting = none
resharper_redundant_explicit_array_size_highlighting = none
resharper_redundant_jump_statement_highlighting = none
resharper_redundant_using_directive_highlighting = none
resharper_specify_a_culture_in_string_conversion_explicitly_highlighting = none
resharper_too_wide_local_variable_scope_highlighting = none
resharper_type_parameter_can_be_variant_highlighting = none
resharper_unused_member_global_highlighting = none
resharper_unused_method_return_value_global_highlighting = none
resharper_use_nameof_expression_highlighting = none
resharper_use_null_propagation_highlighting = none
resharper_redundant_base_constructor_call_highlighting = none
resharper_parameter_only_used_for_precondition_check_local_highlighting = none


dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CA1067.severity = none
dotnet_diagnostic.CA1822.severity = none

dotnet_diagnostic.CS1578.severity = none
dotnet_diagnostic.CS1587.severity = none
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.CS3021.severity = none

dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0018.severity = none
dotnet_diagnostic.IDE0034.severity = none
dotnet_diagnostic.IDE0038.severity = none
dotnet_diagnostic.IDE0040.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0049.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0066.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE1006.severity = none

dotnet_diagnostic.IDISP001.severity = none
dotnet_diagnostic.IDISP004.severity = none

dotnet_diagnostic.SA1000.severity = none
dotnet_diagnostic.SA1003.severity = none
dotnet_diagnostic.SA1004.severity = none
dotnet_diagnostic.SA1008.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1015.severity = none
dotnet_diagnostic.SA1025.severity = none
dotnet_diagnostic.SA1107.severity = none
dotnet_diagnostic.SA1119.severity = none
dotnet_diagnostic.SA1121.severity = none
dotnet_diagnostic.SA1124.severity = none
dotnet_diagnostic.SA1137.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1202.severity = none
dotnet_diagnostic.SA1204.severity = none
dotnet_diagnostic.SA1310.severity = none
dotnet_diagnostic.SA1400.severity = none
dotnet_diagnostic.SA1402.severity = none
dotnet_diagnostic.SA1500.severity = none
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.SA1513.severity = none
dotnet_diagnostic.SA1519.severity = none
dotnet_diagnostic.SA1520.severity = none
dotnet_diagnostic.SA1600.severity = none
